@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0f152e;
	--primary: #ff2210;
	--secondary: #1f46c1;
}

* {
	font-family: 'Geist Mono', monospace;
	background-color: var(--background);
	color: #fff;
}

.rubik {
	font-family: 'Rubik', sans-serif;
}

.text-primary {
	color: var(--primary);
}
